.register-container {
    position: absolute;
    min-width: 100%;
    height: 100%;
    overflow: revert;
    background-position: center;
}

.register-card {
    width: 75%;
    min-width: 300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.register-card-text {
    background-color: white;
    text-align: left;
}

.form-password-conf {
    text-align: left;
    color: #741E26!important;
}

.btn-connect {
    color: #1A98FF!important;
    border-color: #1A98FF!important;
}

.btn-connect:hover {
    background-color: #1A98FF!important;
    border-color: #1A98FF!important;
    color: white!important;
}


@media (max-width: 1600px) {
    .card-logo {
        margin: auto;
        width: 30%;
        margin-top: 40px;
    }
}

@media (max-width: 1000px) {
    .card-logo {
        margin: auto;
        width: 80%;
        margin-top: 40px;
    }
}

@media (min-width: 1600px) {
    .card-logo {
        margin: auto;
        width: 15%;
        margin-top: 40px;
    }
}

.card-foot {
    font-size: 9pt;
    text-align: right;
    background-color: white;
    margin-top: 10px;
    border: none;
    padding-right: 0px;
}

.clientform-title h3 {
    font-size : 17pt;
    color: #1d1f2b;
}

.condition-p {
    text-align: justify;
}
